In [18]:
# Dependencie
import pandas as pd
from sqlalchemy import create_engine

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float

In [19]:

# Load in file and # Read and display the CSV with Pandas
covid_19_confirmed = "time_series_covid_19_confirmed.csv"
covid_19_confirmed_pd = pd.read_csv(covid_19_confirmed,encoding='UTF-8')
covid_19_deaths = "time_series_covid_19_deaths.csv"
covid_19_deaths_pd = pd.read_csv(covid_19_deaths,encoding='UTF-8')
covid_19_recovered = "time_series_covid_19_recovered.csv"
covid_19_recovered_pd = pd.read_csv(covid_19_recovered,encoding='UTF-8')

In [20]:
#covid_19_data_pd.columns

In [27]:
COVID_confirmed = covid_19_confirmed_pd.melt(id_vars = ['Province/State', 'Country/Region','Lat', 'Long']\
                                   , var_name = 'Date', value_name = 'Cases' )
COVID_confirmed

,Province/State,Country/Region,Lat,Long,Date,Cases
0,Anhui,Mainland China,31.82571,117.2264,1/22/20,1
1,Beijing,Mainland China,40.18238,116.4142,1/22/20,14
2,Chongqing,Mainland China,30.05718,107.8740,1/22/20,6
3,Fujian,Mainland China,26.07783,117.9895,1/22/20,1
4,Gansu,Mainland China,36.06110,103.8343,1/22/20,0
...,...,...,...,...,...,...
2275,Diamond Princess cruise ship,Others,35.44370,139.6380,2/20/20,634
2276,"San Diego County, CA",US,32.71570,-117.1611,2/20/20,2
2277,"San Antonio, TX",US,29.42410,-98.4936,2/20/20,1
2278,NaN,Egypt,26.82060,30.8025,2/20/20,1
2279,NaN,Iran,32.42790,53.6880,2/20/20,5

In [22]:
postgresStr = ("postgresql://postgres:password@localhost:5432/COVID-19")
engine = create_engine(postgresStr)
conn = engine.connect()
#df.to_sql('table_name', engine)

In [28]:
covid_19_deaths_pd = pd.read_csv(covid_19_deaths)
covid_19_deaths_pd
COVID_19_deaths_pd= covid_19_deaths_pd.melt(id_vars = ['Province/State', 'Country/Region','Lat', 'Long']\
                                   , var_name = 'Date', value_name = 'Cases' )
COVID_19_deaths_pd

,Province/State,Country/Region,Lat,Long,Date,Cases
0,Anhui,Mainland China,31.82571,117.2264,1/22/20,0
1,Beijing,Mainland China,40.18238,116.4142,1/22/20,0
2,Chongqing,Mainland China,30.05718,107.8740,1/22/20,0
3,Fujian,Mainland China,26.07783,117.9895,1/22/20,0
4,Gansu,Mainland China,36.06110,103.8343,1/22/20,0
...,...,...,...,...,...,...
2275,Diamond Princess cruise ship,Others,35.44370,139.6380,2/20/20,2
2276,"San Diego County, CA",US,32.71570,-117.1611,2/20/20,0
2277,"San Antonio, TX",US,29.42410,-98.4936,2/20/20,0
2278,NaN,Egypt,26.82060,30.8025,2/20/20,0
2279,NaN,Iran,32.42790,53.6880,2/20/20,2

In [29]:
COVID_19_recovered_pd= covid_19_recovered_pd.melt(id_vars = ['Province/State', 'Country/Region','Lat', 'Long']\
                                   , var_name = 'Date', value_name = 'Cases' )
COVID_19_recovered_pd

,Province/State,Country/Region,Lat,Long,Date,Cases
0,Anhui,Mainland China,31.82571,117.2264,1/22/20,0
1,Beijing,Mainland China,40.18238,116.4142,1/22/20,0
2,Chongqing,Mainland China,30.05718,107.8740,1/22/20,0
3,Fujian,Mainland China,26.07783,117.9895,1/22/20,0
4,Gansu,Mainland China,36.06110,103.8343,1/22/20,0
...,...,...,...,...,...,...
2275,Diamond Princess cruise ship,Others,35.44370,139.6380,2/20/20,1
2276,"San Diego County, CA",US,32.71570,-117.1611,2/20/20,0
2277,"San Antonio, TX",US,29.42410,-98.4936,2/20/20,0
2278,NaN,Egypt,26.82060,30.8025,2/20/20,0
2279,NaN,Iran,32.42790,53.6880,2/20/20,0