In [1]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float

import matplotlib.pyplot as plt
import numpy as np
import requests
import json
import random
from datetime import datetime
from bs4 import BeautifulSoup

## Original Scraping Method

In [2]:
# scraped = soup.find_all('a', class_='resource-url-analytics')
# confirmed = scraped[0]['href']
# deaths = scraped[1]['href']
# recovered = scraped[2]['href']

# confirmed_df = pd.read_csv(confirmed)
# deaths_df = pd.read_csv(deaths)
# recovered_df = pd.read_csv(recovered)

## Modified Data Extraction

In [3]:
confirmed_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv'
deaths_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv'
recovered_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv'


confirmed_df = pd.read_csv(confirmed_url)
deaths_df = pd.read_csv(deaths_url)
recovered_df = pd.read_csv(recovered_url)
confirmed_df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20
0,Anhui,Mainland China,31.8257,117.2264,1,9,15,39,60,70,...,990,990,990,990,990,990,990,990,990,NaN
1,Beijing,Mainland China,40.1824,116.4142,14,22,36,41,68,80,...,414,414,418,418,422,426,428,428,429,NaN
2,Chongqing,Mainland China,30.0572,107.8740,6,9,27,57,75,110,...,576,576,576,576,576,576,576,576,576,NaN
3,Fujian,Mainland China,26.0789,117.9874,1,5,10,18,35,59,...,296,296,296,296,296,296,296,296,296,NaN
4,Gansu,Mainland China,36.0611,103.8343,0,2,2,4,7,14,...,91,91,91,102,119,120,124,124,125,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,Saint Barthelemy,France,17.9000,-62.8333,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
400,NaN,Jamaica,18.1096,-77.2975,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
401,NaN,Reunion,-21.1151,55.5364,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
402,NaN,Turkey,38.9637,35.2433,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
403,Gibraltar,United Kingdom,36.1408,-5.3536,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0

## Data Transformation

In [4]:
COVID_confirmed = confirmed_df.melt(id_vars = ['Province/State', 'Country/Region','Lat', 'Long']\
                                   , var_name = 'Date', value_name = 'Cases' )

COVID_confirmed = COVID_confirmed.drop(columns=['Province/State', 'Country/Region'])

#COVID_confirmed.to_csv('confirmed.csv')
COVID_confirmed

           Lat      Long     Date  Cases
0      31.8257  117.2264  1/22/20    1.0
1      40.1824  116.4142  1/22/20   14.0
2      30.0572  107.8740  1/22/20    6.0
3      26.0789  117.9874  1/22/20    1.0
4      36.0611  103.8343  1/22/20    0.0
...        ...       ...      ...    ...
20195  17.9000  -62.8333  3/11/20    1.0
20196  18.1096  -77.2975  3/11/20    1.0
20197 -21.1151   55.5364  3/11/20    1.0
20198  38.9637   35.2433  3/11/20    1.0
20199  36.1408   -5.3536  3/11/20    1.0

[20200 rows x 4 columns]

In [5]:
COVID_19_deaths_pd= deaths_df.melt(id_vars = ['Province/State', 'Country/Region','Lat', 'Long']\
                                   , var_name = 'Date', value_name = 'Cases' )

COVID_19_deaths_pd = COVID_19_deaths_pd.drop(columns=['Province/State', 'Country/Region'])


COVID_19_deaths_pd

           Lat      Long     Date  Cases
0      31.8257  117.2264  1/22/20    0.0
1      40.1824  116.4142  1/22/20    0.0
2      30.0572  107.8740  1/22/20    0.0
3      26.0789  117.9874  1/22/20    0.0
4      36.0611  103.8343  1/22/20    0.0
...        ...       ...      ...    ...
20195  17.9000  -62.8333  3/11/20    0.0
20196  18.1096  -77.2975  3/11/20    0.0
20197 -21.1151   55.5364  3/11/20    0.0
20198  38.9637   35.2433  3/11/20    0.0
20199  36.1408   -5.3536  3/11/20    0.0

[20200 rows x 4 columns]

In [6]:
COVID_19_recovered_pd= recovered_df.melt(id_vars = ['Province/State', 'Country/Region','Lat', 'Long']\
                                   , var_name = 'Date', value_name = 'Cases' )

COVID_19_recovered_pd = COVID_19_recovered_pd.drop(columns=['Province/State', 'Country/Region'])

COVID_19_recovered_pd

           Lat      Long     Date  Cases
0      31.8257  117.2264  1/22/20    0.0
1      40.1824  116.4142  1/22/20    0.0
2      30.0572  107.8740  1/22/20    0.0
3      26.0789  117.9874  1/22/20    0.0
4      36.0611  103.8343  1/22/20    0.0
...        ...       ...      ...    ...
20195  17.9000  -62.8333  3/11/20    0.0
20196  18.1096  -77.2975  3/11/20    0.0
20197 -21.1151   55.5364  3/11/20    0.0
20198  38.9637   35.2433  3/11/20    0.0
20199  36.1408   -5.3536  3/11/20    1.0

[20200 rows x 4 columns]

In [7]:
geodata = confirmed_df[['Long', 'Lat']]

# TROUBLESHOOTING PK ISSUES

#geodata = geodata.set_index('Long')
#len(geodata['Long'].unique())
#geodata.info()
#geodata.to_csv('geodata.csv')
#geodata.loc[(geodata['Long'] == 139.638)]
#geodata.groupby('Long').sum()
#geodata.iloc[74:]

# Workaround for PK issues
geodata = geodata.groupby('Long').sum()
geodata = geodata.merge(confirmed_df, how='left', on=['Long', 'Lat'])
geodata = geodata[['Long', 'Lat', 'Province/State', 'Country/Region']]
geodata

         Long      Lat        Province/State Country/Region
0   -157.8584  21.3070   Honolulu County, HI             US
1   -157.4983  21.0943                Hawaii             US
2   -152.4044  61.3707                Alaska             US
3   -123.8695  40.7450   Humboldt County, CA             US
4   -123.3040  47.7425  Jefferson County, WA             US
..        ...      ...                   ...            ...
345  144.9631 -37.8136              Victoria      Australia
346  145.9707 -41.4545              Tasmania      Australia
347  151.2093 -33.8688       New South Wales      Australia
348  153.4000 -28.0167            Queensland      Australia
349  174.8860 -40.9006                   NaN    New Zealand

[350 rows x 4 columns]

## Loading Data to Database

In [8]:
postgresStr = ("postgresql://postgres:password@localhost:5432/COVID-19")
engine = create_engine(postgresStr)

In [9]:
#schema = 'CREATE TABLE "geodata" ("longitude" float,"latitude" float, "province_state" varchar, "region_country" varchar, CONSTRAINT "pk_geodata" PRIMARY KEY ("longitude","latitude"));'
#dtype = {'Long':'double precision', 'Lat': 'double precision', 'Province/State': 'varchar', 'Country/Region': 'varchar'}

geodata_sql = geodata.to_sql('geodata', engine, if_exists='append',index=False)
confirmed= COVID_confirmed.to_sql('confirmed', engine, if_exists='append',index=False)
recovered= COVID_19_recovered_pd.to_sql('recovered', engine, if_exists='append',index=False)
deaths= COVID_19_deaths_pd.to_sql('deaths', engine, if_exists='append',index=False)